@model JBVideoRental.Models.Customer_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password_Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password_Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aadhar_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aadhar_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_Time_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Time_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_Time_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update_Time_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Details1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Details1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Details2.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Details2.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
