@model JBVideoRental.ViewModel.Customer_Details_ViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="~/Content/passwordscheck.css" rel="stylesheet" />

<h2>Register</h2>


@using (Html.BeginForm("Create","Customer_Details",FormMethod.Post,new { id = "signupform" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer_Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
         
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password,  new { @class = "form-control", @id="password", @placeholder = "Password" } )
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <span id="result"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" } )
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone_Number, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
                @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aadhar_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aadhar_Number, new { htmlAttributes = new { @class = "form-control", @placeholder = "Aadhar" } })
                @Html.ValidationMessageFor(model => model.Aadhar_Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



<script>
    $(function () {

        debugger;
        $("#signupform").validate({
   
            rules: {
                Email:
                    {
                        required: true,
                        email:true
                    },
                Password:
                    {
                        required: true
                   

                    },
                ConfirmPassword:
                    {
                        required: true
                    }

            },
            messages: {
                Email: {
                    required: "Please enter the Email Id",
                    email:"Please enter valid email address"
                },
                Password:{
                   required: "Please enter the Password"
               },
                ConfirmPassword:
                    {
                        required: "Please Enter the Confirm Password"
                    }
            }
        });
    });

</script>
}